*{
    box-sizing: border-box;
}
.lobbyDetails{

    background-color: #ccc;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.gameInfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: azure;
}
.listTitle{
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem;
}
.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}