@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');

.header{
    font-family: 'Londrina Outline', cursive;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

form {
     background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    opacity: 0.7;
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.background {
    /* z-index: 1; */
    opacity: 1; 
    padding-top: 20px;
    font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;

}

select {
    font-family: 'Gurajada', serif;
    border: 1px solid rgb(212, 7, 7);
    /* color: #1c87c9; */
    font-size: 22px;
    background-color: #eee;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}

select, .QInput, .playBtn{
    margin-bottom: 50px;
    width: 8%;
    color: #CF1E0A;
    border: 1px solid red;
    background-color: linear-gradient(to bottom, #CF1E0A 0%, #F2FA14 100%);
    -webkit-background-clip: text;
    
    
}

.playBtn {
    font-family: 'Londrina Outline', cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
    letter-spacing: 2.5px;
    border-radius: 20px;
    padding: 15px 0px;
    text-align: center;
    width: 20%;
    background-color: orange;
}

.playBtn:hover {
    background-color: #3e8e41;
    cursor: pointer;
}



select, input {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 25%;
    text-align: center;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

option {
    text-align: center;
} 

.nameInput{
    flex: 1;
    margin-right: 1rem;
}